
    *{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
        
    }
    .body{
    background: hsl(214, 67%, 77%);
    colour:black;
    padding: 10px;
}
h1{
    font-size: 25px;
    color: black;
    row-gap: 10px;
    padding: 10px;
    
}
.container{
height: 100px;
width: 100%;
background-color: hwb(214 53% 7%);
justify-content: space-between;
}
li{
    list-style-type:none;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 15px;
    margin: 10px 20px 0px 20px;
   color: azure;
   font-size: 20px;
    font-style: italic;
}
.nav-bar ul li:hover {  
    color: antiquewhite;
    
}
.banner-image{
    width: 100%;
    border-radius: 0px 0px 0px 0px;
    margin-left: 10px;
    margin right: 10px;
}
#subtitle{
    position:absolute;
    font-size: 15px;
    background-image: none
    border radius:20px 0px 0px 20px
    font font-weight: ;


}
.about-container{
    display:flex;
    align-items: stretch;
    margin-bottom: 10px;
}